doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    meta(name='description', content= description)
    meta(name='keywords', content= keywords)
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/site.css')
    link(rel='stylesheet', href='/css/stylish-portfolio.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    script(type='text/javascript', src='//vk.com/js/api/openapi.js?117')
    script(type='text/javascript').
      VK.init({apiId: 5047476, onlyWidgets: true});
    script.
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1623507414568744',
          xfbml      : true,
          version    : 'v2.4'
        });
      };
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  body
    // Rating@Mail.ru counter
    script(type='text/javascript').
      var _tmr = _tmr || [];
      _tmr.push({id: "2686934", type: "pageView", start: (new Date()).getTime()});
      (function (d, w, id) {
        if (d.getElementById(id)) return;
        var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
        ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
        var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
        if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
      })(document, window, "topmailru-code");
    noscript
      div(style='position:absolute;left:-10000px;')
        img(src='//top-fwz1.mail.ru/counter?id=2686934;js=na', style='border:0;', height='1', width='1', alt='Рейтинг@Mail.ru')

    // //Rating@Mail.ru counter
    block content
    script(src='/js/jquery-1.11.2.min.js')
    script(src='/js/bootstrap.min.js')
    block after
