extends layout
block content
    section
        .text-center.curtain
            .container-fluid
                .row-fluid
                    .col-lg-3
                        img.pull-left(src='/img/logo.png', width='413', height='181', alt='Logo')
                    .col-lg-5.well.margin-top-50
                        h1.text-center Здравствуйте!
                        br
                        h2.text-left
                            | Мы молодая и амбициозная команда разработчиков, нас зовут Spice Developers, и мы предлагаем:
                    .col-md-4
                        ul.nav-stacked.nav-pills.nav.well
                            li.active(role='presentation')
                                a(href='#') Главная
                            li(role='presentation')
                                a(href='/contacts') Контакты
                            li(role='presentation')
                                a(href='/jobs') Вакансии
                            li(role='presentation')
                                a(href='/services') Услуги
                            li(role='presentation')
                                a(href='/portfolio') Портфолио
                            li(role='presentation')
                                a(href='/about') Отзывы
                            li(role='presentation')
                                a(href='/lessons') Уроки
            .container-fluid
                .row-fluid
                    .col-md-offset-3.col-lg-5
                        .panel.panel-default
                            .panel-heading
                                h4.text-danger
                                    strong Предпринимателям
                            .panel-body
                                p Широкий спектр решений для Вашего бизнеса в следующих направлениях:
                                ul.text-left
                                    li(role='')
                                        a(href='#') Сайты
                                    li(role='')
                                        a(href='#')  Мобильные приложения
                                    li(role='')
                                        a(href='#') Отраслевые решения и системы управления
                        .panel.panel-default
                            .panel-heading
                                h4
                                    strong IT-компаниям
                            .panel-body
                                p Мы готовы рассмотреть Ваши условия и взять на себя самые неприятные
                                p части Вашей работы. Spice Developers - это аутсорсинг на выгодных условиях.
                                p Также, мы можем поделиться с Вами опытом разработки и предложить готовые
                                p технологии и бизнес-модели.
                        .panel.panel-default
                            .panel-heading
                                h4.text-muted
                                    strong Студентам
                            .panel-body
                                p Любая возможная помощь по IT-предметам. Мы сделаем
                                p Вашу учебу проще и, при необходимости, поможем
                                p получить необходимые знания
                    .col-lg-3 !{banner}
            .container-fluid.margin-top-20
                .row-fluid
                    .row
                        img.img-responsive(src='/img/bottom.png', alt='Placeholder image')
                .row.margin-top-40
                    .col-lg-6.col-lg-offset-3
                        h2
                            p Остались вопросы?
                            p Свяжитесь с нами
                        form(role='form', action='MAILTO:spicecoders@gmail.com', method='post', enctype='text/plain')
                            .col-lg-12
                                .alert-info
                                    span.glyphicon.glyphicon-ok
                                    |  - Обязательные поля
                                .form-group
                                    label(for='InputName') Как Вас зовут
                                    .input-group
                                        input#InputName.form-control(type='text', name='InputName', placeholder='', required='')
                                        span.input-group-addon
                                            i.glyphicon.glyphicon-ok.form-control-feedback
                                .form-group
                                    label(for='InputEmail') Ваш Email
                                    .input-group
                                        input#InputEmail.form-control(type='email', name='InputEmail', placeholder='Email', required='')
                                        span.input-group-addon
                                            i.glyphicon.glyphicon-ok.form-control-feedback
                                .form-group
                                    label(for='InputMessage') Сообщение
                                    .input-group
                                        textarea#InputMessage.form-control(name='InputMessage', rows='5', required='')
                                        span.input-group-addon
                                            i.glyphicon.glyphicon-ok.form-control-feedback
                                input#submit.btn.btn-info(type='submit', name='submit', value='Отправить')
            div(itemscope='', itemtype='http://schema.org/Organization', hidden='')
                span(itemprop='address') Moscow, Volgogradsky Prospect, 20
                span(itemprop='brand') Spice Developers
                span(itemprop='contactPoint') Igor Pavlov
                span(itemprop='founder') Igor Pavlov
                span(itemprop='logo')
                    img(src='/img/logo.png', alt='Logo')
                span(itemprop='makesOffer') Consulting, OutSourcing
                span(itemprop='name') Spice Developers
                span(itemprop='telephone') +7-920-361-15-56
                a(itemprop='email', href='mailto:spicecoders@gmail.com') spicecoders@gmail.com
