extends layout

block content
    section
        .text-center(style='background: #FFFFFF url(/img/right_curtain.png); background-repeat:no-repeat')
            .container-fluid
                .row-fluid
                    .col-lg-3
                        img.pull-left(src='/img/logo.png', width='413', height='181', alt='Logo')
                    .col-md-4.col-md-offset-5
                        ul.nav-stacked.nav-pills.nav.well
                            li(role='presentation')
                                a(href='/index') Главная
                            li(role='presentation')
                                a(href='/contacts') Контакты
                            li(role='presentation')
                                a(href='/jobs') Вакансии
                            li.active(role='presentation')
                                a(href='#') Услуги
                            li(role='presentation')
                                a(href='/portfolio') Портфолио
                            li(role='presentation')
                                a(href='/about') Отзывы
                            li(role='presentation')
                                a(href='/lessons') Уроки
            .container-fluid
                .row-fluid
                    .col-lg-3 !{banner}
                        img.img-responsive(src='/img/vector_65_10-256.png', alt='Placeholder image', style='margin-top: 150px; margin-left: 50px')
                        img.img-responsive(src='/img/vector_65_16-256.png', alt='Placeholder image', style='margin-top: 200px; margin-left: 50px')
                        img.img-responsive(src='/img/student-256.png', alt='Placeholder image', style='margin-top: 200px; margin-left: 50px; margin-bottom: 50px')
                    .col-lg-6
                        .well
                            .modal-header
                                h4.text-danger
                                    strong ГОТОВЫЕ РЕШЕНИЯ ДЛЯ БИЗНЕСА ПОД КЛЮЧ
                            .text-left
                                p
                                    | Предоставим Вашему бизнесу все необходимые инструменты для обретения клиентов при помощи:
                                p   -  Сайтов. Быстрые сроки выполнения заказов, индивидуальные условия.
                                ul(style='list-style-type:none')
                                    li Простой сайт - от 1499 рублей.
                                    li Интернет магазин - от 9999 рублей.
                                    li Домен и хостинг - в подарок!
                                p
                                    | -  Мобильных приложений. У Вас есть уникальный шанс увидеть свою идею воплощенной
                                    br
                                    |  на экране мобильного устройства по супер-низкой цене.
                                    br
                                    ul(style='list-style-type:none')
                                        li Приложение iOS/Andriod (одна платформа) - от 59999 рублей.
                                        li Мультиплатформенное приложение - от 99999 рублей.
                        .well
                            .modal-header
                                h4.text-danger
                                    strong ОТРАСЛЕВЫЕ РЕШЕНИЯ И СИСТЕМЫ УПРАВЛЕНИЯ
                            div
                                p
                                    | Мы можем разработать целый комплекс для Вашего предприятия.
                                    br
                                    | Нужно стильно и качественно автоматизировать ваше производство, ваш бизнес? Мы с радостью готовы Вам помочь в этом деле!
                        .well
                            .modal-header
                                h4
                                    strong АУТСОРСИНГ
                            div
                                | Мы рады будем сотрудничать на выгодных для Вас условиях. Позвольте
                                br
                                | представить Вам приоритетные направления, в которых мы готовы работать
                                br
                                ul.text-left(style='list-style:none;margin-left:200px')
                                    li -  Ruby on Rails
                                    li -  Flash
                                    li -  Unity 3D
                                    li - .NET
                                | Также рассмотрим любые Ваши предложения.
                        .well
                            .modal-header
                                h4
                                    strong КОНСАЛТИНГ
                            div
                                | Вы не можете определиться с технологией реализазии вашего High-Load
                                | проекта или не можете подобрать подходящий движок для Вашей игры?
                                br
                                | Неопытные программисты демонстрируют снижение производительности
                                | из-за невыработанной арихтектуры проекта?
                                br
                                | Обратитесь за помощью к профессионалам!
                                br
                                |  Мы проконсультируем Вас
                                | по всем интересующим вопросам, а также подскажем, как реализовать
                                | Вашу задумку с максимальной выгодой.
                        .well
                            .modal-header
                                h4.text-muted
                                    strong СТУДЕНТАМ
                            div
                                | Проблемы с программированием? Наши специалисты с радостью помогут!
                                br
                                |   -  Лабораторные работы от 199 рублей
                                br
                                |   -  Дипломные работы от 3999 рублей
                                br
                                | Оформление документации. Групповые и индивидуальные занятия по
                                br
                                | программированию и актуальным технологиям разработки.
                    .col-lg-3
                        img.img-responsive(src='/img/vector_65_14-256.png', alt='Placeholder image', style='margin-top: 350px; margin-left: 50px')
                        img.img-responsive(src='/img/vector_65_01-256.png', alt='Placeholder image', style='margin-top: 200px; margin-left: 50px')
            .container-fluid(style='margin-top: 20px')
                .row-fluid
                    .row
                        img.img-responsive(src='/img/bottom.png', alt='Placeholder image')
                .row(style='margin-top:40px')
                    .col-lg-3 !{banner}
                    .col-lg-6
                        h2
                            p Остались вопросы?
                            p Свяжитесь с нами
                        form(role='form', action='MAILTO:spicecoders@gmail.com', method='post', enctype='text/plain')
                            .col-lg-12
                                .alert-info
                                    span.glyphicon.glyphicon-ok
                                    |  - Обязательные поля
                                .form-group
                                    label(for='InputName') Как Вас зовут
                                    .input-group
                                        input#InputName.form-control(type='text', name='InputName', placeholder='', required='')
                                        span.input-group-addon
                                            i.glyphicon.glyphicon-ok.form-control-feedback
                                .form-group
                                    label(for='InputEmail') Ваш Email
                                    .input-group
                                        input#InputEmail.form-control(type='email', name='InputEmail', placeholder='Email', required='')
                                        span.input-group-addon
                                            i.glyphicon.glyphicon-ok.form-control-feedback
                                .form-group
                                    label(for='InputMessage') Сообщение
                                    .input-group
                                        textarea#InputMessage.form-control(name='InputMessage', rows='5', required='')
                                        span.input-group-addon
                                            i.glyphicon.glyphicon-ok.form-control-feedback
                                input#submit.btn.btn-info(type='submit', name='submit', value='Отправить')
