extends layout
block content
        .about
            .container
                .col-md-8.grid_2
                    h1 Довольные клиенты на протяжении 3х лет
                    .box-4.box-5
                        .put-left
                            img.img-responsive(src='images/pic1.jpg', alt='')
                        .caption
                            h3
                                a(href='#') Десятки людей доверяют нам самое ценное
                            p
                              .alert
                                | Гарантами нашей надежности являются лояльные клиенты и специалисты высокого класса. Высочайшее качество сервиса - это то, что трудно передать словами, но легко почувствовать
                        .clearfix
                    .box-4
                        .put-left
                            img.img-responsive(src='images/pic2.jpg', alt='')
                        .caption
                            h3
                                a(href='#') Трудности делают нас сильнее
                            p
                              .alert
                                | Работа с высокими нагрузками - это деятельность, при которой невозможно избежать проблем технического характера. Тем не менее, мы с гордостью заявляем, что накопленный опыт позволяет нам решать любые проблемы с оперативностью, которая Вас приятно удивит
                        .clearfix
                .col-md-4.grid_3
                    h2 Что Вы получаете
                    ul.list_1
                        li
                            .index-box
                                .data-index 1.
                                .caption
                                    h3
                                        a(href='#') Оптимальное решение
                                    .small
                                        | Наш хостинг - одно из лучших предложений на рынке

                        li
                            .index-box
                                .data-index 2.
                                .caption
                                    h3
                                        a(href='#') Приятные бонусы
                                    .small
                                        | Мы любим дарить подарки как новым, так и подписанным клиентам
                        li
                            .index-box
                                .data-index 3.
                                .caption
                                    h3
                                        a(href='#') Бесплатная техподдержка
                                    .small
                                        | Вне зависимости от вашего тарифного плана, наши специалисты всегда будут рады помочь
                        .clearfix
        .content_bottom
            .container
                h2 Как мы обеспечиваем непревзойденное качество?
                .col-md-4.grid_4
                    img.img-responsive(src='images/pic3.jpg', alt='')
                    h3
                        a(href='#') Профилактика
                    p
                        | Перефразируя великого Сунь-Цзы, самое лучшее решение проблемы - это её предотвращение. Наше оборудование постоянно проходит профилактические проверки как в автоматическом, так и в ручном режиме
                .col-md-4.grid_4
                    img.img-responsive(src='images/pic4.jpg', alt='')
                    h3
                        a(href='#') Ответственность
                    p
                        | Эффективный менеджмент и устоявшаяся организационная - это то, что лежит в основе нашего успеха. Также нам важно мнение наших клиентов
                .col-md-4.grid_4
                    img.img-responsive(src='images/pic5.jpg', alt='')
                    h3
                        a(href='#') Мониторинг
                    p
                        | Днем и ночью наши специалисты отслеживают метрики качества работы оборудования, находясь на страже ваших интересов
        .footer
            .container
                p
                    | Made by 
                    a(href='spicedeveloper.ru/') Spice Developers
