extends layout
block content
        .about
            .container
                .row
                    .col-lg-4
                        h4 Живые консультанты в трех городах
                        p Казань, Москва, Минск
                    .col-lg-4
                        h4 3 Временных зоны
                        p GMT+4, GMT+3, GMT+2
                    .col-lg-4
                        h4 3 языка на выбор
                        p Английский, русский французский
        .footer
            .container
                p
                    | Мы успешно оказываем услуги по поддержке в проектах многим организациям:

        .about
            .container-fluid.well
                .col-lg-4
                    h2 Spice Developers
                    p.panel-info Крупная компания, автор данного сайта, очень талантливые разработчики
                .col-lg-4
                    h2 199okon
                    p.panel-info Наш партнер - установщик окон. Мы им благодарны весьма.
                .col-lg-4
                    h2 rubyhosting
                    p.panel-info Наш младший брат клон и фирма разработчик дочерних сайтов.