extends layout
block content
        .about
            .container
                .blog_grid.span2
                    .col-md-6.blog_box
                        a.mask(href='single.html')
                            img.img-responsive.zoom-img(src='images/s1.jpg', alt='image')
                        h3
                            a(href='single.html') Ut wisi enim ad minim veniam, quis nostrud exerc
                        .links
                            ul
                                li
                                    span Feb 14, 2015
                                li
                                    span
                                        a(href='#') admin
                                li
                                    a(href='#')
                                        span No comments
                        p
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,nibh euismod tincidunt
                        a.button3(href='#') Read More
                    .col-md-6.blog_box
                        a.mask(href='single.html')
                            img.img-responsive.zoom-img(src='images/s2.jpg', alt='image')
                        h3
                            a(href='single.html') Ut wisi enim ad minim veniam, quis nostrud exerc
                        .links
                            ul
                                li
                                    span Feb 14, 2015
                                li
                                    span
                                        a(href='#') admin
                                li
                                    a(href='#')
                                        span No comments
                        p
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,nibh euismod tincidunt
                        a.button3(href='#') Read More
                    .clearfix
                .blog_grid
                    .col-md-6.blog_box
                        a.mask(href='single.html')
                            img.img-responsive.zoom-img(src='images/s6.jpg', alt='image')
                        h3
                            a(href='single.html') Ut wisi enim ad minim veniam, quis nostrud exerc
                        .links
                            ul
                                li
                                    span Feb 14, 2015
                                li
                                    span
                                        a(href='#') admin
                                li
                                    a(href='#')
                                        span No comments
                        p
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,nibh euismod tincidunt
                        a.button3(href='#') Read More
                    .col-md-6.blog_box
                        a.mask(href='single.html')
                            img.img-responsive.zoom-img(src='images/s7.jpg', alt='image')
                        h3
                            a(href='single.html') Ut wisi enim ad minim veniam, quis nostrud exerc
                        .links
                            ul
                                li
                                    span Feb 14, 2015
                                li
                                    span
                                        a(href='#') admin
                                li
                                    a(href='#')
                                        span No comments
                        p
                            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,nibh euismod tincidunt
                        a.button3(href='#') Read More
                .pagination
                    ul
                        li.pagination-start.firstItem
                            span.pagenav Start
                        li.pagination-prev
                            span.pagenav Prev
                        li
                            span.pagenav 1
                        li
                            a.pagenav(href='#') 2
                        li.pagination-next
                            a.border.pagenav(title='', href='#', data-original-title='Next') Next
                        li.pagination-end.lastItem
                            a.border.pagenav(title='', href='#', data-original-title='End') End
        .footer
            .container
                p
                    | Template by
                    a(href='http://w3layouts.com/') W3layouts
