doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='description', content= description)
        meta(name='keywords', content= keywords)

        script(type='application/x-javascript').
            addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
        link(href='css/bootstrap.css', rel='stylesheet', type='text/css')
        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='js/jquery-1.11.1.min.js')
        // Custom Theme files
        link(href='css/style.css', rel='stylesheet', type='text/css')
        // Custom Theme files
        // webfonts
        link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel='stylesheet', type='text/css')
        // webfonts
        // dropdown
        script(src='js/jquery.easydropdown.js')
        script(src='js/bootstrap.min.js')
        // Add fancyBox main JS and CSS files
        script(src='js/jquery.magnific-popup.js', type='text/javascript')
        link(href='css/popup.css', rel='stylesheet', type='text/css')
        script.
            $(document).ready(function() {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });
            });
    body
        .header
            .header_top
                .container
                    .col-sm-6.header-top-left
                    .col-sm-6.header-top-right
                        .col-xs-7.phone
                            p Круглосуточная поддержка 010-25418796
                        .col-xs-5.check_box
                            a(href='#')
                                ul.check
                                    i.cart
                                    li.cart_desc Купить сейчас
                                    .clearfix
                        .clearfix
                    .clearfix
            .container
                .header_bottom
                    .col-xs-2.logo
                        a(href='index.html')
                            h1 Hosting Node
                    .col-xs-6.header_nav
                        .col-xs-11.menu
                            a.toggleMenu(href='#')
                                img(src='images/nav_icon.png', alt='')
                            ul#nav.nav
                                li(class=(address === '/index.html') ? 'current' : '')
                                    a(href='index.html') Главная
                                li(class=(address === '/about.html') ? 'current' : '')
                                    a(href='about.html') Почему мы
                                li(class=(address === '/services.html') ? 'current' : '')
                                    a(href='services.html') Услуги
                                li(class=(address === '/blog.html') ? 'current' : '')
                                    a(href='blog.html') О нас
                                li(class=(address === '/support.html') ? 'current' : '')
                                    a(href='support.html') Поддержка
                                li(class=(address === '/plans.html') ? 'current' : '')
                                    a(href='plans.html') Тарифы
                                li(class=(address === '/refund.html') ? 'current' : '')
                                    a(href='refund.html') Возврат средств
                            script(type='text/javascript', src='js/responsive-nav.js')
                        .col-xs-1.header_but
                            menu#cl-effect-8.cl-effect-8
                            button.btn.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
                                | Вход

                        .clearfix
                    .col-xs-4 !{banner}
                    .clearfix
            #myModal.modal.fade(tabindex='-1', role='dialog')
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            h4.modal-title Вход в личный кабинет
                        .modal-body
                            form.form-signin(action="/login")
                                h2.form-signin-heading Введите адрес почты и пароль
                                label.sr-only(for='inputEmail') Логин
                                input#inputEmail.form-control(type='email', placeholder='Email', required='', autofocus='',name="email")
                                label.sr-only(for='inputPassword') Пароль
                                input#inputPassword.form-control(type='password', placeholder='Пароль', required='',name="password")
                                .checkbox
                                    label
                                        input(type='checkbox', value='remember-me', name=remember)
                                        |  Запомнить меня
                                button.btn.btn-lg.btn-primary.btn-block(type='submit') Войти
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
            block content
            .contact_index#contact-form
                .container
                    .col-md-12.contact_index-left
                        h3 Свяжитесь с нами
                        .contact-form
                            form
                                input.textbox(type='text', value='Email', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Email';}")
                                textarea(value='Сообщение:', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Текст';}") Текст сообщения
                                input(type='submit', value='Отправить')
            .footer
                .container
                    p
                        | Сделано в
                        a(href='http://spicedevelopers.ru') Spice developers(2015-2016)