doctype html
//
  Author: W3layouts
  Author URL: http://w3layouts.com
  License: Creative Commons Attribution 3.0 Unported
  License URL: http://creativecommons.org/licenses/by/3.0/
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='description', content= description)
        meta(name='keywords', content= keywords)

        script(type='application/x-javascript').
            addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
        link(href='css/bootstrap.css', rel='stylesheet', type='text/css')
        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='js/jquery-1.11.1.min.js')
        // Custom Theme files
        link(href='css/style.css', rel='stylesheet', type='text/css')
        // Custom Theme files
        // webfonts
        link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900', rel='stylesheet', type='text/css')
        // webfonts
        // dropdown
        script(src='js/jquery.easydropdown.js')
        // Add fancyBox main JS and CSS files
        script(src='js/jquery.magnific-popup.js', type='text/javascript')
        link(href='css/popup.css', rel='stylesheet', type='text/css')
        script.
            $(document).ready(function() {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });
            });
    body
        .header
            .header_top
                .container
                    .col-sm-6.header-top-left
                    .col-sm-6.header-top-right
                        .col-xs-7.phone
                            p Круглосуточная поддержка 010-25418796
                        .col-xs-5.check_box
                            a(href='#')
                                ul.check
                                    i.cart
                                    li.cart_desc Купить сейчас
                                    .clearfix
                        .clearfix
                    .clearfix
            .container
                .header_bottom
                    .col-xs-3.logo
                        a(href='index.html')
                            h1 Hosting Node
                    .col-xs-9.header_nav
                        .col-xs-9.menu
                            a.toggleMenu(href='#')
                                img(src='images/nav_icon.png', alt='')
                            ul#nav.nav
                                li.current
                                    a(href='index.html') Главная
                                li
                                    a(href='about.html') Почему мы
                                li
                                    a(href='services.html') Услуги
                                li
                                    a(href='404.html') Отзывы
                                li
                                    a(href='blog.html') Блог
                                li
                                    a(href='support.html') Поддержка
                            script(type='text/javascript', src='js/responsive-nav.js')
                        .col-xs-3.header_but
                            menu#cl-effect-8.cl-effect-8
                                a(href='#') Вход
                        .clearfix
                    .clearfix
            block content
