.container
    .row
        .col-md-12.text-center
            h4 Политика возврата средств
            p
        p
            | В течение 30 (тридцати) календарных дней с момента оплаты вами сервиса, вы вправе запросить у Spicedevelopers возврат остатка ваших денежных средств, неизрасходованных вами за данный период использования сервиса. При этом вы должны указать в запросе вескую причину для возврата денег. Мы предоставляем бесплатный тариф сразу после регистрации для того, чтобы вы могли оценить качество сервиса. Переход на платный тариф или пополнение счета означают что вас удовлетворяет качество сервиса.
        p
            | По истечении 30 дней после оплаты, а также в случае блокирования Вашего Личного кабинета в связи с нарушением вами пунктов Антиспам политики или Правил использования сервиса, возврат стоимости оплаченных, но не предоставленных услуг производится по собственному усмотрению SendPulse.
        p
            | Возврат средств происходит только в том случае, если клиент в период использования пользователь не нарушил ни один из пунктов Антиспам политики и Правил использования сервиса.
        p
            | Запрос возврата средств осуществляется через заполнение
            a(href='http://spicedevelopers.ru/contact/', target='_blank') формы возврата
            | . Рассматриваются только запросы, отправленные через данную форму.
        p Период рассмотрения заявки – 30-45 дней с даты отправки запроса.
        h5  Ваш запрос должен содержать:
        ol
            li Номер заказа, по которому вы хотите получить возврат средств
            li Подробное описание проблемы и причины запроса возврата
        h5 Процедура рассмотрения запросов на возврат:
        p
            | Каждый запрос рассматривается индивидуально, в порядке очереди, и его рассмотрение занимает время. Менеджер, занимающийся возвратами, будет предоставлять вам информацию о статусе рассмотрения вашего запроса.
        p
            | После того, как ваш запрос на возврат одобрен, менеджер сообщит вам об этом. Сам процесс возврата может занять до нескольких недель, в зависимости от метода оплаты, вашего банка и других причин.
        h5 Ошибочная оплата обрабатывается таким образом:
        p a) Ошибочно созданный и оплаченный повторный заказ
        ol
            li
                | Отправьте запрос на возврат денег используя
                a(href='http://spicedevelopers.ru/contact/', target='_blank') форму возврата
                |  в вашем Личном кабинете.
            li
                | Укажите оба номера заказа. Первым укажите номер заказа, по которому вы хотите получить возврат.
        p(style='color:red')
            b Важно!
        p
            b
                | Возврат за заказ-дубликат возможен только если вы его не использовали (зависит от сервиса).
        p
            | б) Автоматическое снятие денег с карты (если вы выбрали эту опцию при оформлении заказа)
        ol
            li
                | Отправьте запрос на возврат денег используя
                a(href='http://spicedevelopers.ru/contact/', target='_blank') форму возврата
                |  в вашем Личном кабинете.
            li
                | Укажите номер заказа. Первым укажите номер заказа, по которому было автоматическое снятие средств.
        p(style='color:red')
            b Важно!
        p
            b
                | Возврат за заказ возможен только если вы не использовали сервис после даты автоматического списания средств.
        h5 Мы оставляем за собой право отказать в возврате средств:
        ol
            li
                | если процент жалоб от ваших подписчиков о получении спама превысит 0,5% от количества адресатов в рассылках (но не менее 15 человек).
            li
                | если процент несуществующих адресов превысит 10% в рамках одной рассылки по одной книге.
            li когда пользователь требует возврата средств без объяснения на то причин.
        h5 Условия возврата денежных средств при удалении аккаунта в сервисе
        p
            | В случае, когда действие вашего аккаунта приостановлено, или заблокирован личный кабинет сервиса по причине жалоб на спам, злоупотребления массовыми рассылками, мы оставляем за собой право не производить возврат денежных средств.
        p
            | Аккаунты с высоким процентом жалоб приостанавливаются или блокируются без права на возврат денежных средств.
        p
            | Мы понимаем, что при отправке большого количества email писем в рамках массовых рассылок возможно небольшое количество жалоб (обычно, из-за ошибок). Поэтому, есть допустимый процент таких жалоб — 0,9% в рамках одной email кампании, отправленной на одну адресную книгу. При этом мы обращаем внимание на общее количество отправленных писем, процент жалоб и их тип. Но если процент жалоб превышает 0,5% от количества адресатов в рассылках, то ваш аккаунт может быть приостановлен или заблокирован без права на возврат денежных средств.
        p(style='color:red')
            b
                | Компания не производит возврат денег пользователям, заблокированным за нарушение Антиспам-политики.
        p
    p
p
