extends layout
block content
        .about
            .container
                ul.service_grid
                    li
                        a.fancybox(href='images/s1.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s1.jpg', alt='')
                            span
                    li
                        a.fancybox(href='images/s2.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s2.jpg', alt='')
                            span
                    li
                        a.fancybox(href='images/s3.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s3.jpg', alt='')
                            span
                    li.last
                        a.fancybox(href='images/s4.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s4.jpg', alt='')
                            span
                    li
                        a.fancybox(href='images/s5.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s5.jpg', alt='')
                            span
                    li
                        a.fancybox(href='images/s6.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s6.jpg', alt='')
                            span
                    li
                        a.fancybox(href='images/s7.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s7.jpg', alt='')
                            span
                    li.last
                        a.fancybox(href='images/s8.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s8.jpg', alt='')
                            span
                    li
                        a.fancybox(href='images/s9.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s9.jpg', alt='')
                            span
                    li
                        a.fancybox(href='images/s10.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s10.jpg', alt='')
                            span
                    li
                        a.fancybox(href='images/s11.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s11.jpg', alt='')
                            span
                    li.last
                        a.fancybox(href='images/s1.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s1.jpg', alt='')
                            span
                    li
                        a.fancybox(href='images/s1.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s1.jpg', alt='')
                            span
                    li
                        a.fancybox(href='images/s2.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s2.jpg', alt='')
                            span
                    li
                        a.fancybox(href='images/s3.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s3.jpg', alt='')
                            span
                    li.last
                        a.fancybox(href='images/s4.jpg', data-fancybox-group='gallery', title='Lorem ipsum dolor sit amet')
                            img.img-responsive(src='images/s4.jpg', alt='')
                            span
