extends layout
block content
        .about
            .container
                .blog_grid
                    .blog_box
                        a.mask(href='single.html')
                            img.img-responsive.zoom-img(src='images/single.jpg', alt='image')
                        h3
                            a(href='single.html') Ut wisi enim ad minim veniam, quis nostrud exerc
                        .links
                            ul
                                li
                                    span Feb 14, 2015
                                li
                                    span
                                        a(href='#') admin
                                li
                                    a(href='#')
                                        span No comments
                        p
                            | Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,nibh euismod tincidunt
                .comment
                    h2 Comments
                    ul.comment-list
                        li
                            img.img-responsive(src='images/avatar.png', alt='')
                            .desc1
                                h5
                                    a(href='#') Lorem ipsum dolor sit amet
                                .extra
                                    time(pubdate='', datetime='2015-03-30T14:47:59')
                                        | Submitted by admin on Feb 14, 2015 - 14:47
                                p
                                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent
                                .reply
                                    a.comment-reply-link(href='#') Reply
                            .clearfix
                .comments-area
                    h3 Add New Comment
                    form
                        p
                            label Name
                            span *
                            input(type='text', value='')
                        p
                            label Email
                            span *
                            input(type='text', value='')
                        p
                            label Website
                            input(type='text', value='')
                        p
                            label Subject
                            span *
                            textarea
                        p
                            input(type='submit', value='Submit Comment')
        .footer
            .container
                p
                    | Template by
                    a(href='http://w3layouts.com/') W3layouts
